/**
 * Baclground Image: Photo by Joanna Kosinska on Unsplash
 */

@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

body, html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 34px;
    background: url(https://i.imgur.com/0S1ECo5.jpg) repeat-y;
	background-position: 40% 15%;
	background-size: 100%;
	color: rgb(75, 75, 75);
	margin: 0;
	padding: 0;
}

a, a:hover {
    color: #000;
}


a.next-tip, a.next-tip:hover {
	color: #0000ff;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 25vh;
}

.text-signature, .tip-id {
    font-family: "Shadows Into Light";
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.just-the-tip {
    margin-top: 60px;
}

.text-signature {
    transform: rotate(-20deg);
}

.tip-id {
    font-size: 50px;
    font-weight: bolder;
    margin-top: 20px;
}

.footer {
    font-size: 14px;
}

@media only screen and (max-width: 960px) {

	body, html {
		background: none;
		background-color: #e6b800;
	}

	.container {
		margin-top: 10vh;
	}

}
